@font-face {
	font-family: "Pacifico";
	src: url("../assets/fonts/Pacifico.ttf");
}

@font-face {
	font-family: "Axis";
	src: url("../assets/fonts/axis.woff");
}

@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat-Bold.ttf");
}